@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+Onefamily=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario:#000000;
    --color-secundario:#36C2CE;
    --color-terciario:#478CCF;
    --color-hover:#272727;

    --fuente-Montserrat:"Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en las dimensiones del elemento */
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    font-family: var(--fuente-Montserrat);
}

.header {
    padding: 2% 8%;
}

.header_menu {
    display: flex;
    gap: 80px;
    justify-content: flex-start;
}
 
.header_menu_link {
    font-family: var(--fuente-Montserrat);
    font-size: 21px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.header_menu_link:hover {
    color: var(--color-secundario); /* Agregado para un efecto hover en los enlaces del menú */
}

.titulo-destaque {
    color: var(--color-terciario)
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 3% 8%;
    justify-content: space-between;
    gap: 80px;
}

.presentacion_contenido {
    max-width: 615px; /* Cambio a max-width para mayor flexibilidad*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 30px;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto {
    font-size: 20px;
    font-family: var(--fuente-Montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion_enlaces_link {
    width: 330px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-Montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);    
}

.presentacion_enlaces_link:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

.presentacion_imagen {
    width: 50%;
    height: auto; /* Cambio a auto para mantener la proporción de la imagen */
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.footer {
    background-color: var(--color-terciario);
    padding: 20px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-Montserrat);
    font-size: 24px;
    font-weight: 400;
}

/* Estilo responsivo*/
@media (max-width: 780px) {

    .header {
        padding: 5%;
    }

    .header_menu {
        justify-content: center;
        flex-wrap: wrap; /* Permite que los enlaces se ajusten a multiples lineas si es necesario */
        gap: 20px; /* Reduce el espacio entre enlaces para pantallas mas pequeñas */
    }

    .presentacion {
        flex-direction: column-reverse;
        gap: 20px; /* Reduce el espacio entre el texto y la imagen*/
        text-align: center; /* Centra el texto en pantallas pequeñas*/
    }

    .presentacion_contenido {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
        max-width: none; /* Elimina la restrincion de max-width en pantallas pequeñas*/
    }

    .presentacion_imagen {
        width: 100%; /* la imagen ocupa todo el ancho en pantallas pequeñas*/
        height: auto;
    }

    .presentacion_contenido_titulo {
        font-size: 24px; /* Reduce el tamaño de la fuente del título*/
    }

    .presentacion_contenido_texto {
        font-size: 18px; /* Reduce el tamaño de la fuente del texto*/
    }

    .presentacion_enlaces_link {
        font-size: 20px; /* Reduce el tamaño de la fuente en los enlaces*/
        width: 100%; /* Los enlaces ocupan todo el ancho disponible*/

    }

}
