@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+Onefamily=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario:#000000;
    --color-secundario:#36C2CE;
    --color-terciario:#478CCF;
    --color-hover:#272727;

    --fuente-Montserrat:"Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 8%;
}

.header_menu {
    display: flex;
    gap: 80px;
}
 
.header_menu_link {
    font-family: var(--fuente-Montserrat);
    font-size: 21px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--color-terciario)
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 3% 8%;
    justify-content: space-between;
    gap: 80px;
}

.presentacion_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
    font-size: 30px;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto {
    font-size: 20px;
    font-family: var(--fuente-Montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion_enlaces_link {
    width: 330px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-Montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);    
}

.presentacion_enlaces_link:hover {
    background-color: var(--color-hover);
}

.presentacion_imagen {
    width: 50%;
    height: 50%;
}

img {
    width: 500px;
    height: 500px;    
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.footer {
    background-color: var(--color-terciario);
    padding: 20px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-Montserrat);
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header {
        padding: 5%;
    }

    .header_menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
    }
}